* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    z-index: 100;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75); -webkit-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
}

.Link a {
    margin: 5px;
    text-decoration: none;
    border: 1px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

.Link a:hover {
    background-color: black;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-around;

}
.header div {
    justify-content: space-between;
}
.dua {
    display: flex;
    margin: 10px;
}

.dua a {
    margin: 10px;
    padding-right: 12px;
    padding-left: 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.dua a:hover {
    text-decoration: underline;
    color: red;
}

.tiga {
    width: 30px; 
    height: 30px; 
    color: red; 
    margin-top: 15px;
    display: flex;
    margin: 10px;
    font-size: 20px;
}

.tiga p:hover {
    text-decoration: underline;
    color: red;
}

.tiga a {
    margin-left: 10px;
    text-decoration: none;
    color: red;
}

.isi img {
    margin-top: 76px;
    height: 500px;
}

.isi h1 {
    margin-top: 8%;
    margin-left: 12%;
    text-align: left;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.isi iframe {
    width: 1000px; 
    height: 550px;
    margin-top: 5%;
    margin-left: 10%;
}

.isi h4 a{
    color: red;
    padding-left: 75%;
}

.tampilan {
    display: flex ;
    width: 80%;
    margin: 20px auto 25% auto;
    justify-content: space-around;
    border-radius: 10px;
}

.tampilan img {
    width: 80%; 
    height: 260px;
}

.tampilan .satu{
    background-color: red;
    width: 100%;
    height: 150px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
} 

.satu p{
    margin-top:30px;
    font-size: 16px;
}

.tampilan div {
    width: 30%;
}

.tampil {
    display: flex ;
    width: 85%;
    margin: 20px auto 25% auto;
    justify-content: space-around;
    border-radius: 10px;
}

.tampil div {
    width: 250px;
}

.tampil img {
    width: 100%; 
    height: 240px;
    border-radius: 10px 10px 0 0;
}

.tampil .artikel1 {
    margin: 0;
    padding: 0;
    background-color: red;
    width: 100%;
    height: 150px;
    color: #fff;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
}

.artikel h1 {
    margin-top: 3%;
    margin-left: 8%;
    text-align: left;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.artikel h4 a {
    color: red;
    padding-left: 78%;
}

.partner h1 {
    margin-top: 3%;
    margin-left: 7%;
    margin-bottom: 3%;
    text-align: left;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gmb {
    margin-left: 6%;
}

.container {
    justify-content: right;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Main {
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main {
    width: 50%;
    height: 50%;
}

.main img {
    width: 100%;
    height: 80%;
}

h1 {
    text-align: center;
    color: #333;
}
p {
    margin-bottom: 10px;
}

.last img {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%; 
    margin-bottom: 3%; 
}

.last h2 {
    position: absolute; 
    margin-left: 74%; 
    font-size: 30px; 
    color: red; 
    margin-bottom: 10px; 
    transform: translateY(-300px);
}

.last p {
    position: absolute; 
    margin-left: 50%; 
    padding-right: 10%; 
    color: rgb(41, 41, 41); 
    text-align: right; 
    transform: translateY(-230px);
}

.last a p {
    position: absolute; 
    margin-left: 74%; 
    transform: translateY(-120px);
    color: #fff;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.last a p:hover {
    background-color: black;
    color: #fff;
}

footer {
    width: 100%;
    margin: 0;
    background-color: #414141;
    color: #d5d5d5;
}

.footercontainer img {
    width: 60px;
    height: 60px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}

.footercontainer {
    display: flex;
    font-size: 13px;
    width: 100%;
}

#produk li:hover {
    cursor: pointer;
    color: #d5d5d5;
    text-decoration: underline;
}

#produk {
    width: 120px;
    margin-bottom: 10px;
}

.berita {
    margin: auto;
}

.berita h3 {
    margin: auto;
    width: 300px;
}

.icon {
    display: flex;
}
.icon img {
    margin: 10px;
    cursor: pointer;
    background: transparent;
}

.icon img:hover {
    background-color: #fff;
    fill: red;
}

.footercontainer div {
    width: 10%;
}

.copyright {
    padding-top: 20px;
    font-size: 12px;
    display: flex;
    background-color: #242424;
    justify-content: space-around;
}

.kanan {
    display: flex;
    margin: 15px;
}

.kanan p {
    margin: 5px;
}

.kanan p:hover {
    cursor:pointer;
    color: #d5d5d5;
    text-decoration: underline;
}

.footercontainer p:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer ul li {
    list-style-type: none;
    padding: 5px 0;
}